body{
  margin:0;
  padding:0;
  background-color: #e2dfdf;
  overflow:scroll;
}
footer{
  display:block;
  margin-top:2%;
  margin-bottom:0;
  line-height:500%;
  background-color: #665f5f;
}
footer p{
  text-align:center;
  color:#ffffff;
}
nav ul{
  margin:0;
  padding:0;
  line-height:500%;
  background-color: #665f5f;
  height:20%;
  text-align: right;
}
nav ul li{
  display:inline-block;
  margin-right: 30px;
}

ul li a{
 margin:5px;
 text-decoration:none;
 display:inline-block;
 color:#ffffff;
}

div{
  background-color:#ffffff;
  margin-top:3%;
  margin-left:3%;
  margin-right:3%;
  padding:1%;
  border:outset;
}
div.passage1 img{
  display:block;
  width:30%;
}
div.passage2 img{
  display:block;
  width:30%;
}
h2{
  color:#877e7e8a;
}


.author{
  color:#877e7e8a;
}
.date{
  color:#877e7e8a;
}

.picture li{
  line-height:1000%;
  width:20%;
  display:block;
  background-color:#ffffff;
  margin-top:3%;
  margin-left:3%;
  margin-right:3%;
  padding:1%;
  border:1px solid;
  text-align:center;
}

.picture img{
  margin:0 auto;
  width:80%;
  display:block;
  line-height:300%;
}
.personalinfo{
  background-color:#ffffff;
  margin-top:3%;
  margin-left:3%;
  margin-right:3%;
  padding:1%;
  border:outset;
}
.personalinfo h3{
  padding-left: 5px;
  border-left: 3px solid #ccc;
}


table{
  width: 100%;
 	height: auto;
 	margin: 0 auto;
	border-collapse: collapse;
}
th{
  background-color:#665f5f;
  color:#ffffff;
}

td{
  border:solid 1px #877e7e8a;
}
tr:last-child{
  background-color:#e2dfdf;
}

th:nth-child(1){
 padding-left: 10px;
 width:30%;
 text-align:left;
}
th:nth-child(2){
 padding-left: 10px;
 width:30%;
 text-align:left;
}
th:nth-child(3){
 padding-left: 10px;
 width:30%;
 text-align:left;
}
td:nth-child(1){
 padding-left:10px;
 width:500px;
}

label{
  display: inline-block;
  width: 30%;
  text-align: right;
  margin-right: 10px;
  line-height: 2em;
}


.require{
  display:inline-block;
  color:#877e7e8a;
  margin-left:32%;
  margin-bottom:5px;
}
textarea{
  width: 69%;
  height:100px;
  margin:5px auto;
  float: right;
}
input[type=submit]{
  display:block;
  color:#ffffff;
  line-height:220%;
  margin:0 auto;
  background-color: #3385ff;
  width:100%;
  border:1px solid;
  border-radius: 5px 5px 5px 5px;
}
