
body{
  padding:20px;
  font-family: "微软雅黑";
  font-size: 15px;
}
.background{
  margin:0 auto;
  overflow: auto;
  min-width: 600px;
  padding:20px;
  margin: 20px;
  background:#eee;
  border:solid #999;
   }

.left{
  float:left;
  height:100px;
  width:200px;
  padding:20px;
  background:#ffffff;
  border:solid #999;
}
.right{
  float:right;
  width:120px;
  padding:20px;
  background:#ffffff;
  border:solid #999;
}
.mid{
  margin-left:260px;
  margin-right:180px;
  background: #ffffff;
  border:solid #999;
  padding:20px;

}
p{
  word-break:break-all;
  margin:20px;
}
#teamlogo{
  float:left;
  width:80px;
  height:80px;

}
.teamname{
  width: 180px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
.indilogo{
  margin:20px;
  width:80px;
  height:80px;
  display:inline-block;
  border: 1px solid #999;
}

/*position设为绝对定位的时候会根据其“有定位”的祖先元素来，若没有有定位的祖先元素，则根据文档body元素定位，像这种在一个大盒子里做三栏式布局，在左上角放入第一个盒子box2时采用绝对定位，定位的基准是box1,而不是body元素*/

/*绝对定位的元素则脱离了文档流。在布置文档流中其它元素时，绝对定位元素不占据空间。(即可以叠放在其他元素上)绝对定位元素相对于最近的非 static 祖先元素定位。当这样的祖先元素不存在时，则相对于根级容器定位。下面的示例中，"Three" 元素不存在应用了定位的祖先元素，因此该元素相对于紧邻的祖先（iframe 中的 <body> 元素）绝对定位。*/

/*right:20px表示距离box1的右边框20px,-20px表示超出右边框20px*/
